{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Aula inicial :D */
body{
    background-image: url('https://media1.tenor.com/images/552ec189475f1d337391b02d6b0b9965/tenor.gif?itemid=13113745') ;
    background-size: auto 200vh;
    font-family: Arial;
    height: 100vh;
  }

  @media(min-width: 400px){
    body{
      font-size: 14px;
    }

  }
  header{
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  }
  
  .menu{
    background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
  }
  
  .menu a{
    color: teal;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: background-color, color 2s;
  }
  a{
    text-decoration: none;
  }
  
  .menu a:hover{
    background-color: teal;
    text-decoration: underline;
    color: white;

  }

  
  
  .site-title{
    color: whitesmoke;
  text-align: center;
  }

  .site-title{
    font-size: 4em;
    font-family: 'Jost', sans-serif;
  }

  .Titulo{
    transform: scale(0,2) translateY(50vh);
    opacity: 0;

    animation: linear 2s animacaoTitulo forwards;
  }

  @keyframes animacaoTitulo{
    from{
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    to{
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  .site-subtitle{
    text-align: center;
    font-style: italic;
    color: whitesmoke;
  }
  .site-subtitle{
    color: silver;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    font-size: 2em;
    line-height: 2.1em;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .site-portifolio .grid {
    padding: 2em;
    height: 100vh;
  }

  .site-portifolio{
  font-family: 'Roboto Condensed', sans-serif;
  background: teal;
  margin-bottom: 1.5em;
  font-size: 1em;
  color: lightblue;
}

.site-portifolio .grid{
  display: grid;
  gap: 2em;
}
@media (min-width: 560px) {
  .site-portifolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .site-portifolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}
.site-portifolio .grid {
  text-align: center;
}

.site-portifolio .grid .img-portfolio {
  text-align: center;
}

  .img-portfolio{
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 25%;
    transition: transform 500ms;
  }

  .img-portfolio:hover{
    transform: scale(1.15);
  }

.contato .grid-icons{
  text-align: center;
}
  .contato a{
  color: whitesmoke;
  font-size: 10em;
} 

.contato a:hover{
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}